.listElementContainer {
  width: 100%;
  height: calc(var(--header-height) / 1.5);
  position: relative;
}

.listElement {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.listElementDate {
  color: var(--green);
  float: left;
}

.listElementValue {
  color: var(--lightgreen);
  font-weight: 600;
  float: right;
}

/* .fontMono {
  font-family: 'Roboto Mono';

  margin-right: 5px;
}

.fontSerif {
  font-family: 'Roboto Mono';
  letter-spacing: -1px;
  font-weight: 600;
} */

.fontMono {
  font-family: sans-serif;
}

.fontSerif {
  font-family: sans-serif;
}
