:root {
  --submit-button-width: 35%;
}

@media screen and (max-width: 768px) {
  :root {
    --submit-button-width: 100%;
  }
}

.title {
  color: var(--lightgreen);
  width: 100%;
  height: calc(var(--header-height) / 1.25);

  box-sizing: border-box;
  padding-left: 2vh;

  border-bottom: var(--list-divider-height) solid #dbdbdb;

  margin-bottom: 2vh;

  font-weight: 600;

  position: relative;
}

.title span {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mainCard {
  /* background: red; */
  width: 100%;
  height: 10vh;
}

.inputValue {
  width: 100%;
  height: calc(var(--header-height) / 1.25);
  border: none;
  background: lightgray;
  border-radius: 0;

  display: block;

  padding-left: 2vh;

  color: var(--green);
  border: 1px solid lightgray;

  margin-bottom: 2vh;
}

.inputValue::placeholder {
  color: var(--green);
}

.inputValue:focus {
  border-radius: 0;
  border: 1px solid var(--green);
  outline: none;
}

.inputValue:active {
  border-radius: 0;
  border: 1px solid var(--green);
  outline: none;
}

.selectDate {
  background: lightgray;
  border: 1px solid lightgray;
  border-radius: 0;
  color: var(--green);
  width: 20%;
  height: calc(var(--header-height) / 1.25);
  box-sizing: border-box;
  padding-left: 2vh;
  margin-left: 2vh;
}

.selectDate:focus {
  border-radius: 0;
  border: 1px solid var(--green);
  outline: none;
}

.selectDate:active {
  border-radius: 0;
  border: 1px solid var(--green);
  outline: none;
}

.selectDateOption {
  background: white;
}

.submitButton {
  background: var(--green);
  color: white;
  height: calc(var(--header-height) / 1.25);
  min-width: var(--submit-button-width);

  display: block;
  margin: auto;
  margin-top: 1vh;

  border: 0;
  outline: 0;

  /* border-radius: 300px; */
}
